* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, "serif";
}
:root {
  --color-1: #4169e1;
  --color-2: #1e90ef;
  --color-3: #456783;
  --color-6: #4682b4;
  --color-4: white;
  --color-5: black;
}
a {
  color: var(--color-6);
  text-decoration: none;
  font-size: 12px;
}
/* main section */
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-page {
  width: 50%;
  height: 450px;
  max-width: 450px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 18px;
  box-shadow: 0 2px 7px black;
}
header {
  font-size: 25px;
  text-align: center;
  padding-block: 10px;
  font-weight: 600;
}
/* buttons */
button {
  width: 100%;
  font-size: 18px;
  padding-block: 7px;
  border: none;
}
#login {
  color: var(--color-4);
  background-color: var(--color-6);
}
#Facebook {
  color: var(--color-4);
  background-color: var(--color-1);
}
#google {
  border: 1px solid rgba(0, 0, 0, 0.6);
}
/* or section */
#or {
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.line {
  width: 100px;
  height: 1px;
  background-color: black;
}
/* forms */
form {
  padding: 5px;
}
label {
  font-size: 20px;
}
input {
  width: 100%;
  padding: 4px;
  margin-block: 5px;
}
#fp {
  text-align: center;
  padding-inline: 5px;
  margin-top: -7px;
  margin-bottom: 5px;
}
.gap {
  width: 96%;
  text-align: center;
  margin: 5px;
}
#signup {
  font-size: 14px;
}
/* google and facebook section*/
#link {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* hover section */
#login:hover {
  background-color: #2952ce;
}
#Facebook:hover {
  background-color: black;
}
#google:hover {
  background-color: rgba(128, 128, 128, 0.5);
}
